@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body {
    background-image: linear-gradient(to right,#BF9341, #D9BD89);

}
p{
    text-align: justify;
}
main{background-color: #E9F2F1;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #a88139dc;
}
h1{
    color: #cf9f46;
    text-align: center;
    text-shadow: 1px 1px 0px #a78039c0;

}
h2{
    color: #027373;

}